<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>jspServletTraining</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>SampleServlet</servlet-name>
    <servlet-class>servlet.SampleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SampleServlet</servlet-name>
    <url-pattern>/sample</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>Sample2Servlet</display-name>
    <servlet-name>Sample2Servlet</servlet-name>
    <servlet-class>servlet.Sample2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sample2Servlet</servlet-name>
    <url-pattern>/sample2</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>Task1Servlet</display-name>
    <servlet-name>Task1Servlet</servlet-name>
    <servlet-class>servlet.Task1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Task1Servlet</servlet-name>
    <url-pattern>/Task1Servlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>BeanSampleServlet</display-name>
    <servlet-name>BeanSampleServlet</servlet-name>
    <servlet-class>servlet.BeanSampleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeanSampleServlet</servlet-name>
    <url-pattern>/BeanSampleServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>LoginCollateServlet</display-name>
    <servlet-name>LoginCollateServlet</servlet-name>
    <servlet-class>servlet.LoginCollateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCollateServlet</servlet-name>
    <url-pattern>/getLogin</url-pattern>
  </servlet-mapping>

<servlet>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>FileReadServlet</display-name>
    <servlet-name>FileReadServlet</servlet-name>
    <servlet-class>servlet.FileReadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileReadServlet</servlet-name>
    <url-pattern>/file</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>


</web-app>