<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>jspServletTraining</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
   	<servlet-name>SampleServlet</servlet-name>
  	<servlet-class>servlet.SampleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
   	<servlet-name>SampleServlet</servlet-name>
   	<url-pattern>/sample</url-pattern>
  </servlet-mapping>
  <servlet>
   	<servlet-name>Sample2Servlet</servlet-name>
  	<servlet-class>servlet.Sample2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
   	<servlet-name>Sample2Servlet</servlet-name>
   	<url-pattern>/sample2</url-pattern>
  </servlet-mapping>

  <servlet>
   	<servlet-name>Task1Servlet</servlet-name>
  	<servlet-class>servlet.Task1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
   	<servlet-name>Task1Servlet</servlet-name>
   	<url-pattern>/task1</url-pattern>
  </servlet-mapping>

	<servlet>
   	<servlet-name>BeanSampleServlet</servlet-name>
  	<servlet-class>servlet.BeanSampleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
   	<servlet-name>BeanSampleServlet</servlet-name>
   	<url-pattern>/beansample</url-pattern>
  </servlet-mapping>


	<servlet>
	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>servlet.LoginServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
   	<servlet-name>LoginServlet</servlet-name>
   	<url-pattern>/login</url-pattern>
  	</servlet-mapping>


  	<servlet>
	<servlet-name>NewAccountServlet</servlet-name>
  	<servlet-class>servlet.NewAccountServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
   	<servlet-name>NewAccountServlet</servlet-name>
   	<url-pattern>/newAccount</url-pattern>
  	</servlet-mapping>


  	<servlet>
	<servlet-name>FileReadServlet</servlet-name>
  	<servlet-class>servlet.FileReadServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
   	<servlet-name>FileReadServlet</servlet-name>
   	<url-pattern>/fileread</url-pattern>
  	</servlet-mapping>

  	<servlet>
	<servlet-name>PostScriptServlet</servlet-name>
  	<servlet-class>servlet.PostScriptServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
   	<servlet-name>PostScriptServlet</servlet-name>
   	<url-pattern>/postscript</url-pattern>
  	</servlet-mapping>

  	<session-config>
    <session-timeout>1</session-timeout>
  </session-config>



</web-app>









